openapi: 3.1.0
info:
  title: CDISC Library ADaM Terminology API
  description: The CDISC Library API is a REST API that delivers CDISC standards metadata to software applications that automate standards-based processes. It uses linked data to provide access to SDTM, ADaM, and other clinical data standards. Responses are available in JSON, XML, ODM, CSV, and Excel formats. Access requires a CDISC Library account and an API key obtained from the CDISC Library API Management (APIM) Developer Portal.
  version: 1.0.0
  contact:
    name: CDISC Library Support
    url: https://jira.cdisc.org/servicedesk/customer/portal/2
  license:
    name: CDISC License
    url: https://www.cdisc.org/cdisc-library
servers:
- url: https://library.cdisc.org/api
  description: CDISC Library Production API
- url: https://library.cdisc.org/api/cosmos/v2
  description: CDISC Biomedical Concepts API v2
security:
- apiKey: []
tags:
- name: Terminology
  description: CDISC controlled terminology
paths:
  /mdr/ct:
    get:
      operationId: listTerminologyPackages
      summary: List CDISC controlled terminology packages
      description: Returns all published CDISC controlled terminology (CT) packages.
      tags:
      - Terminology
      responses:
        '200':
          description: List of terminology packages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminologyPackageList'
  /mdr/ct/{packageDate}/codelists:
    get:
      operationId: listCodelists
      summary: List codelists in a terminology package
      description: Returns all codelists in the specified CDISC controlled terminology package.
      tags:
      - Terminology
      parameters:
      - name: packageDate
        in: path
        required: true
        description: Terminology package date (e.g., 2023-12-15)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: List of codelists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodelistSummaryList'
components:
  schemas:
    CodelistSummaryList:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            codelists:
              type: array
              items:
                type: object
                properties:
                  conceptId:
                    type: string
                  name:
                    type: string
                  href:
                    type: string
    TerminologyPackageList:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            packages:
              type: array
              items:
                type: object
                properties:
                  label:
                    type: string
                  effectiveDate:
                    type: string
                    format: date
                  href:
                    type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: API key obtained from CDISC Library API Management Developer Portal at https://api.developer.library.cdisc.org/
