openapi: 3.1.0
info:
  title: CDISC Library ADaM API
  description: The CDISC Library API is a REST API that delivers CDISC standards metadata to software applications that automate standards-based processes. It uses linked data to provide access to SDTM, ADaM, and other clinical data standards. Responses are available in JSON, XML, ODM, CSV, and Excel formats. Access requires a CDISC Library account and an API key obtained from the CDISC Library API Management (APIM) Developer Portal.
  version: 1.0.0
  contact:
    name: CDISC Library Support
    url: https://jira.cdisc.org/servicedesk/customer/portal/2
  license:
    name: CDISC License
    url: https://www.cdisc.org/cdisc-library
servers:
- url: https://library.cdisc.org/api
  description: CDISC Library Production API
- url: https://library.cdisc.org/api/cosmos/v2
  description: CDISC Biomedical Concepts API v2
security:
- apiKey: []
tags:
- name: ADaM
  description: Analysis Data Model standards
paths:
  /mdr/adam:
    get:
      operationId: listAdamVersions
      summary: List all ADaM standard versions
      description: Returns all published versions of the ADaM (Analysis Data Model) standard.
      tags:
      - ADaM
      responses:
        '200':
          description: List of ADaM versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionList'
  /mdr/adam/{version}:
    get:
      operationId: getAdamVersion
      summary: Get ADaM standard by version
      description: Returns the ADaM standard metadata for a specific version.
      tags:
      - ADaM
      parameters:
      - name: version
        in: path
        required: true
        schema:
          type: string
          example: 1-1
      responses:
        '200':
          description: ADaM standard metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standard'
components:
  schemas:
    VersionList:
      type: object
      properties:
        _links:
          type: object
        _embedded:
          type: object
          properties:
            versions:
              type: array
              items:
                type: object
                properties:
                  version:
                    type: string
                  href:
                    type: string
                    format: uri
                  effectiveDate:
                    type: string
                    format: date
    Standard:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        description:
          type: string
        version:
          type: string
        effectiveDate:
          type: string
          format: date
        registrationStatus:
          type: string
          enum:
          - Final
          - Provisional
          - Draft
        _links:
          type: object
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: API key obtained from CDISC Library API Management Developer Portal at https://api.developer.library.cdisc.org/
